/*

title: main.css
author: aman sharma

*/

html, body {
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}
/* Home Container */


#home {
  position: static;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 85%;
  height: 85%;
  background-color: #0E1226;
}

#first{
  font-size: 5em;
  margin-top: 15%;
  margin-bottom: inherit;
  font-weight: 400;
  padding: 0;
  letter-spacing: 5px;
  text-align: center;
}

#second {
  margin-top: 20px;
  font-weight: 400;
  text-align: center;
  font-size: 3.5em;
  letter-spacing: 5px;
}

.homeText {
  padding: 0;
  font-family: 'Great Vibes', cursive;
  color: white;

}

#about {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 85%;
}

.column{
  position: fixed;
  padding: 0px;
  width: 50%;
  height: 85%;
  overflow-x: hidden;
  z-index: 1;
  top: 85%;
  background-color: white;
}

.leftAbout{
  left: 0;
  position: absolute;
}

.rightAbout{
  right: 0;
  position: absolute;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8em;
    font-family: 'Great Vibes', cursive;
    color: white;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 681px;
  width: 720px;
  opacity: 0;
  transition: .5s ease;
  background-color: #0E1226;
}

.leftAbout:hover .overlay {
  opacity: 1;
}

.rightAbout:hover .overlay{
  opacity: 1;
}

.aboutText {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 42%;
  left: 45%;
  right: -10%;
  text-align: left;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.rightAbout > .overlay > .aboutText{
  left: 50%;
  right: -10%;
}

.rightAbout > .overlay{
  background-color: #1c2135;
}


.button{
  position: relative;
  display: inline-block;
  top: 50px;
  left: 30%;
  padding: 15px;
  background-color: #0E1226;
  border: 2px solid white;
  text-decoration: none;
  color: white;
  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 12px;
    width: 200px;
  text-align: center;
}

.button:link{
  text-decoration: none;
}

.button:hover {
  background-color: #FF6342;
  color: white;
}


/* Navbar */

.navbar {
    margin-bottom: 0;
    background-color: transparent !important;
    border: 0 !important;
    font-size: 12px !important;
    letter-spacing: 4px;
    padding-right: 10px;
}


/* Add  color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: white !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #A09E9E !important;
}

/* The active link */
.navbar-nav li.active a {
  color: white !important;
  background-color: transparent !important;
  border-bottom: 3px solid red !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}
