/*

title: main.css
author: aman sharma

*/

html, body {
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}
/* Home Container */


#home {
  position: static;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 85%;
  height: 85%;
  background-color: #0E1226;
}

#first{
  font-size: 5em;
  margin-top: 15%;
  margin-bottom: inherit;
  font-weight: 400;
  padding: 0;
  letter-spacing: 5px;
  text-align: center;
}

#second {
  margin-top: 20px;
  font-weight: 400;
  text-align: center;
  font-size: 3.5em;
  letter-spacing: 5px;
}

.homeText {
  padding: 0;
  font-family: 'Great Vibes', cursive;
  color: white;

}

#about {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 87%;
}

.column{
  position: fixed;
  padding: 5px;
  width: 50%;
  height: 87%;
  overflow-x: hidden;
  z-index: 1;
  top: 85%;
  background-color: red;
}

.left_about{
  left: 0;
  position: absolute;
}

.right_about{
  right: 0;
  position: absolute;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.left_about:hover .overlay {
  opacity: 1;
}

.right_about:hover .overlay{
  opacity: 1;
}

.about_text {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 42%;
  left: 45%;
  right: -10%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* Navbar */

.navbar {
    margin-bottom: 0;
    background-color: transparent !important;
    border: 0 !important;
    font-size: 12px !important;
    letter-spacing: 4px;
    padding-right: 10px;
}


/* Add  color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: white !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #A09E9E !important;
}

/* The active link */
.navbar-nav li.active a {
  color: white !important;
  background-color: transparent !important;
  border-bottom: 3px solid red !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}
