/*

title: main.css
author: aman sharma

*/

html, body {
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}
/* Home Container */


#home {
  position: static;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 85%;
  height: 85%;
  background-color: #0E1226;
}

#first{
  font-size: 5em;
  margin-top: 15%;
  margin-bottom: inherit;
  font-weight: 400;
  padding: 0;
  letter-spacing: 5px;
  text-align: center;
}

#second {
  margin-top: 20px;
  font-weight: 400;
  text-align: center;
  font-size: 3.5em;
  letter-spacing: 5px;
}

.homeText {
  padding: 0;
  font-family: 'Great Vibes', cursive;
  color: white;

}

/* About */

#about {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 85%;
}

.column{
  position: fixed;
  padding: 0;
  width: 50%;
  height: 85%;
  overflow-x: hidden;
  z-index: 1;
  top: 85%;
}

.leftAbout{
  left: 0;
  position: absolute;
  background-color: #1c2135;
}

.rightAbout{
  right: 0;
  position: absolute;
  background-color: #0E1226;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8em;
    font-family: 'Great Vibes', cursive;
    color: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1.2s ease;
  background-color: #0E1226;
}

.rightAbout > .overlay{
  background-color: #1c2135;
}

.leftAbout:hover .overlay {
  opacity: 1;
}

.rightAbout:hover .overlay{
  opacity: 1;
}

.aboutText {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1.2em;
  position: absolute;
  top: 55%;
  left: 45%;
  right: -10%;
  text-align: left;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.aboutText > .text-center{
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8em;
  font-family: 'Great Vibes', cursive;
  color: white;
}

.rightAbout > .overlay > .aboutText{
  left: 50%;
  right: -10%;
}

.viewButton{
  position: relative;
  display: inline-block;
  top: 50px;
  left: 30%;
  padding: 10px;
  border: 2px solid white;
  text-decoration: none;
  color: white;
  -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 12px;
    width: 150px;
  text-align: center;
  font-size: 1em;
}

.rightAbout > .viewButton{
  background-color: #1c2135;
}

.viewButton:link{
  text-decoration: none;
}

.viewButton:hover {
  background-color: #F0AD64;
  color: white;
}

.viewButton:visited{
  text-decoration: none;
}

#contact{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 95%;
  background-image: linear-gradient(-30deg,#327370, #1c2135,#0E1226);
  /* background-color: #1D2135; */
}

.contactColumnleft{
  position: relative;
  display: block;
  background-color: rgba(14,18,38, 0.1);
  height: 75%;
  width: 60%;
  top: 10%;
  left: 20%;
  border: 1px solid;
}

.contactColumnleft > .text-center h1{
  color: white;
  font-family: 'Great Vibes', cursive;
  font-size: 5em;
  margin-top: 30px;
}

.contactInfo{
  color: white;
  font-size: 1.5em;
  position: relative;
  top: 30%;
  font-weight: lighter;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    background-color: transparent !important;
    border: 0 !important;
    font-size: 12px !important;
    letter-spacing: 4px;
    padding-right: 10px;
}


/* Add  color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: white !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #A09E9E !important;
}

/* The active link */
.navbar-nav li.active a {
  color: white !important;
  background-color: transparent !important;
  border-bottom: 3px solid red !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}
